<% provide :title, "Help" %>
<h1><%= t "global.menu.help" %></h1>
<p>
  <%= t "pages.help.content_help" %>
  <%= link_to t("pages.help.link_help_page"), "http://www.railstutorial.org" %>.
  <%= t "pages.help.content_book" %>
  <%= link_to t("pages.help.link_book_page"), "http://www.railstutorial.org/book" %>.
</p>


