<h1><%= t "global.title" %></h1>

<p><%= t "global.mailer.greeting" %> <%= @user.name %>,</p>
<p>
  <%= t "global.mailer.content_active" %>
</p>

<%= link_to t("global.button.active"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
