<% provide :title, t("pages.user.title") %>
<h1><%= t "pages.user.title" %></h1>
<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @microposts.any? %>
      <h3><%= t "pages.microposts.title" %> (<%= @microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= raw pagy_nav(@pagy) %>
    <% end %>
  </div>
</div>
