<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("pages.microposts.create_placeholder") %>
  </div>
  <%= f.submit t("global.button.post"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image %>
  </span>
<% end %>

<%= javascript_pack_tag "micropost"%>
