<li id="micropost-"<%= micropost.id %>>
  <%= link_to gravatar_for(micropost.user, size: Settings.image_size_50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t "pages.microposts.posted" %> <%= time_ago_in_words micropost.created_at if micropost.created_at %> <%= t "pages.microposts.ago" %>
    <% if current_user? micropost.user %>
      <%= link_to t("global.button.delete"), micropost, method: :delete, data: {confirm: t("pages.microposts.confirm_delete")} %>
    <% end %>
  </span>
</li>
