<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("global.text_logo"), static_pages_home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("global.menu.home"), static_pages_home_path %></li>
        <li><%= link_to t("global.menu.help"), static_pages_help_path %></li>
        <li><%= link_to t("global.menu.login"), "#" %></li>
        <li><%= link_to t("global.menu.en"), locale: :en %></li>
        <li><%= link_to t("global.menu.vi"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
